<%= form_for @user do |form| %>
  <p>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
  </p>

  <p>
    <%= form.label :email %> <br>
    <%= form.text_field :email %> <br>
  </p>

  <p>
    <%= form.label :password %> <br>
    <%= form.text_field :password %>
  </p>

  <p>
    <%= form.label :password_confirmation %> <br>
    <%= form.text_field :password_confirmation %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
