
<%= form_with scope: :rating, url: restaurant_ratings_path, local: true do |form| %>
  <p>
    <%= form.label :rating %><br>
    <fieldset class="rating">
    <label>
      <%= form.radio_button :stars, 1, id: "1" %>
      <%= image_tag("angry1.png", :class => "rating-faces")%>
    </label>
    <label>
    <%= form.radio_button :stars, 2, id: "2" %>
    <%= image_tag("angry1.png", :class => "rating-faces")%>
    </label>
    <label>
    <%= form.radio_button :stars, 3, id: "3" %>
    <%= image_tag("angry1.png", :class => "rating-faces")%>
    </label>
    <label>
    <%= form.radio_button :stars, 4, id: "4" %>
    <%= image_tag("angry1.png", :class => "rating-faces")%>
    </label>
    <label>
    <%= form.radio_button :stars, 5, id: "5" %>
    <%= image_tag("angry1.png", :class => "rating-faces")%>
    </label>
  </fieldset>

  </p>

  <p>
    <%= form.label :review %><br>
    <%= form.text_area :review %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
