<h1>New Restaurant</h1>

<%= form_with scope: :restaurant, url: restaurants_path ,local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :location %> <br>
    <%= form.text_field :location %> <br>
  </p>

  <p>
    <%= form.label :desc %> <br>
    <%= form.text_field :desc %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
