<!DOCTYPE html>
<html>
  <head>
    <title>Yelp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>

  <body>
    <div class="jumbotron mainbar">
      <div class="row">
        <div class="col-sm-2">
        </div>
          <div class="col-sm-8">
            <%= image_tag("banner.png", :class => "banner-pic")%>
          </div>
        <div class="col-sm-2">
          <% if @username != nil %>
            <p>Welcome <%=@username%></p>
          <% end %>
        </div>
      </div>
    </div>
    <%= yield %>

  </body>
</html>
